<a href="https://colab.research.google.com/github/shibanisankpal/datascience-and-analytics/blob/main/Movie_recommendation_system.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
# Import necessary libraries
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [11]:
# Load the data
data = pd.read_csv('/content/movies_metadata.csv')

In [12]:
data.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [30]:
print(len(data))

8965

In [13]:
# Create a TF-IDF vectorizer to convert movie titles into numerical features
vectorizer = TfidfVectorizer()

In [14]:
# Fit the vectorizer on the movie titles
X = vectorizer.fit_transform(data['original_title'])

In [15]:
# Calculate the cosine similarity between all pairs of movies
similarity_matrix = cosine_similarity(X)

In [28]:
# Define a function to recommend movies based on user input
def recommend_movies(original_title):
    # Find the index of the movie in the dataset
    index = data[data['original_title'] == original_title].index[0]
    # Get the similarity scores between the selected movie and all other movies
    similarity_scores = list(enumerate(similarity_matrix[index]))
    # Sort the movies by their similarity scores
    similarity_scores = sorted(similarity_scores, key=lambda x: x[1], reverse=True)
    # Get the top 10 most similar movies
    top_movies = [data.iloc[score[0]]['original_title'] for score in similarity_scores[1:11]]
    return top_movies

In [42]:
# Test the recommendation system with a sample movie title
original_title = input("Enter a movie: ")
recommended_movies= recommend_movies(original_title)
print(f"Movies similar to {original_title}: {recommended_movies}")

Enter a movie: The Avengers
Movies similar to The Avengers: ['The Lord of the Rings: The Return of the King', 'The Lord of the Rings: The Fellowship of the Ring', 'The Island at the Top of the World', 'The Man in the Moon', 'The City of the Dead', 'The Light at the Edge of the World', 'The Way of the Gun', 'The Night of the Hunter', 'The Return of the Vampire', 'The Kiss of the Vampire']