<a href="https://colab.research.google.com/github/shibanisankpal/datascience-and-analytics/blob/main/Spam_detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Import necessary libraries
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [3]:
# Load the data
data = pd.read_csv('/content/spam.csv', encoding='latin-1')

In [7]:
data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [8]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(data['v2'], data['v1'], test_size=0.2, random_state=42)

In [9]:
# Create a CountVectorizer object to convert text to numerical features
vectorizer = CountVectorizer()

In [10]:
# Fit the vectorizer on the training data
X_train = vectorizer.fit_transform(X_train)

# Transform the testing data using the same vectorizer
X_test = vectorizer.transform(X_test)

In [11]:
# Create a Multinomial Naive Bayes classifier
clf = MultinomialNB()

In [12]:
# Train the classifier on the training data
clf.fit(X_train, y_train)

# Predict the classes of the testing data
y_pred = clf.predict(X_test)

In [15]:
print(y_pred)

['ham' 'ham' 'spam' ... 'ham' 'ham' 'spam']

In [16]:
# Calculate the accuracy of the model
accuracy = accuracy_score(y_test, y_pred)
print('Accuracy:', accuracy)

Accuracy: 0.9838565022421525

In [19]:
# Get user input for testing
user_input = input("Enter a message to check if it's spam or not: ")

# Transform the input using the same vectorizer
user_input_transformed = vectorizer.transform([user_input])

# Use the trained model to make a prediction
prediction = clf.predict(user_input_transformed)

# Print the prediction
if prediction[0] == 'ham':
    print("This message is not spam.")
else:
    print("This message is spam.")

Enter a message to check if it's spam or not: Do you want to go for lunch?
This message is not spam.